<div class="main">
  
  <h1>Lista de Tarefas</h1>

  <div class="nInp">
    <app-inp>
      <input StyledInput 
      placeholder="Adicione uma atividade" 
      #inputAtividade
      (keyup.enter)="addAti(inputAtividade.value)"
      >
    </app-inp>
    <app-btn
    (eventoPersonalizado)="addAti(inputAtividade.value)"
    >
    </app-btn>
  </div>

  <div class="container">
    <app-comp 
    *ngFor="let atividade of tarefas; let i = index" 
    (eventoDelete)="delAti(i,1)"
    >
      <div class="atividade">{{atividade}}</div>
    </app-comp>
  </div>
   
  <div class="apagarTudo">
    <p> Você tem {{tarefas?.length}} atividades pendentes </p>
    <app-btn_del 
    (eventDeleteAll)="delTudo(0)" 
    >
    </app-btn_del>
  </div>
</div>